@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2e82d5;
  --secondary: #404040bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.text-primary {
  color: var(--primary);
}

.text-foreground {
  color: var(--foreground);
}

.text-dark {
  color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.text-adjustment {
  display: flex;
  align-items: center;
}

.main-header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 10;
}

.cart-index {
  z-index: 999;
}

.menu-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}

.menu-item {
  padding: 15px;
}

.product-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px;
}

.elipsis-text {
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}

.ofuscate-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17171744;
}

.loading-spinner {
  position: relative;
  font-size: 1.5rem;
  color: var(--foreground);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.mobile-view {
  display: none;
}

@media (max-width: 600px) {
  .product-grid {
    max-width: 300px;
    grid-template-columns: 100%;
  }
  .menu-row {
    display: none;
  }
  .store-title {
    display: none;
  }
  .mobile-view {
    display: flex;
  }
}
